body{ display:inline; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

/*===== NavigationBar.js =====*/
.nav-wrap{ width:100%; height:auto; float: left; display: block; overflow:hidden; position:fixed; color: white; background:black; left: 0; top: 0; right: 0; clear: both; }
.nav-wrap a{ text-decoration: none; color: white; }
.nav-wrap .nav-logo{ float:left; display: inline-start; text-align: center; font-weight:bold; font-size: 1.5em; padding:10px 20px 15px 20px; margin:0 auto; }
.nav-wrap ul{ float:right; display: inline-end; list-style:none; margin: 0;padding: 10px 20px 0px 20px; }
.nav-wrap li { float:left; text-align: center; list-style:none; margin: 0 2px; padding:10px; }

/*===== SearchBox.js =====*/
.search-wrap{ width: auto; float:left; display: block; text-align: center; margin: 15px 0px 0px 40px; }
.search-wrap select{ width: 8.3rem; height: 1.4rem; }
.search-wrap input{ height: 1.1rem; }

/*===== Notification.js =====*/
.noti{ width: 100%; height: auto; text-align: center; position:fixed; font-size: 14px; background: pink; top: 20px; padding: 5px 0; margin-top: 2rem; }


/*===== Home.js =====*/
.home{ font-size: 1.1em; width: 60%; margin: 5rem auto; }
.home .home-img{width: 100%; height: 24rem; display: flex; overflow: hidden; justify-content: center; align-items: center; margin: 0 auto; }
.home img{ width: 320px; height: 340px; border-radius: 160px; }
.home .img-link{ font-size:12px; text-align: center; color:lightgrey; }
.home .img-link a{ text-decoration: none; color: lightgrey; }
.home .ex-txt-box{ display: flex; flex-direction: column; align-items: center;}


/*===== About.js =====*/
.about-wrap{ margin:4.8rem 3.9rem 0 3.9rem; }
.about-wrap h1{ margin: 0 0; }
.about-wrap hr{ color: gray; size: 0; }


